private_repo_scripts/*
.vscode/
# Local copy of .pdfalyzer.example with cusom settings
.pdfalyzer

# Python
/.venv/*
/__pycache__/
*__pycache__*
*.pyc

# Project subdirs
dist/
/log/
/tools/
/tmp/
/output/export/

# Other
.DS_Store
LICENSE
parse_it.sh
