.vscode/
.pdfalyzer # Local copy of .pdfalyzer.example with cusom settings
doc/ISO_32000-2-2020_sponsored_official_PDF_spec.pdf
private_repo_scripts/*

# Python
/.venv/*
/__pycache__/
*__pycache__*
*.pyc

# Project subdirs
dist/
/log/
/tools/
/tmp/
/output/export/
/tests/tmp/

# Other
.DS_Store
LICENSE
