# Local copy of .env.example with cusom settings
.env

# Python
/.venv/*
/__pycache__/
*__pycache__*

# Project subdirs
/log/*
/tools
/tmp

# Other
.DS_Store
/doc/_data_structures.py
/doc/PyPDF2
LICENSE
