# If you place a filed called '.pdfalyzer' in your home dir or the current dir environment variables
# specified in that .pdfalyzer file will be added to the environment each time pdfalyzer is invoked.
#
# This can be used to specify a path to Didier Stevens's pdf-parser.py on your local system, which is
# required for extracting binary streams from PDFs to individual files via the --extract-binary-streams
# option (there's a script to download pdf-parser.py that ships with pdfalyzer, just run 'pdfalyzer_install_pdf_parser').
#
#    PDFALYZER_PDF_PARSER_PY_PATH=path/to/pdf-parser.py
#
# Almost all of pdfalyzer's command line options can be permanently set by setting them as environment
# variables in a .pdfalyzer file, meaning capitalizing them and prefixing them with 'PDFALYZER_' or
# (if they are yaralyzer specific) with 'YARALYZER_'. Useful if you want to permanently configure options
# you tend to reuse (e.g. '--maximize-width')
#
# To see the list of environment variables that can be configured this way run: pdfalyze --env-vars


# For example, to set --output-dir permanently you would create a .pdfalyzer file and put this in it:
#    PDFALYZER_OUTPUT_DIR=/dir/to/export/files/to
#
# Or to permanently set the --yara-stack-size option, you would add this to your .pdfalyzer file:
#    YARALYZER_YARA_STACK_SIZE=250000


# Pdfalyzer can also write logs of what it's doing if you set the PDFALYZER_LOG_DIR env var, either in a
# .pdfalyzer file or anywhere in normal environment. Pdfalyzer logs are not normally written to a file;
# the standard behavior is to more or less discard them.
#
# Be aware that if you configure PDFALYZER_LOG_DIR a few things will change:
#
#   1. Logs WILL NOT be written to STDOUT. They will stream ONLY to files in the configured directory.
#      This is true even with the --debug option.
#   2. The default log_level will be decreased from WARN (extremely spartan) to INFO (fairly verbose).
#      The --debug option, which sets the log level to DEBUG, will be respected whether or not
#      YARALYZER_LOG_DIR is configured.
#
#    PDFALYZER_LOG_DIR=/path/to/log_dir/
